main {
  background-color: #fbf8f6;
}
.nav {
  background-color: #f3ebe5;
  width: 5%;
  height: 100%;
}
.nav-icon {
  width: 55px;
  height: 55px;
  margin: 0 auto;
}
.heading {
  font-size: 80px;
  line-height: 80px;
}
/* .main-section-icon1 {
  height: 60px;
} */
.starIcon {
  width: 2px;
  height: 20px;
}
.main-section-icon1,
.main-section-icon2,
.main-section-icon3,
.main-section-icon4,
.main-section-icon5 {
  height: 50px;
  background-color: #f3ebe5;
}
.rating-section {
  height: 30px;
  background-color: #f3ebe5;
}
.software-section {
  background-color: #f3c5c5;
}
.business-section {
  background-color: #fae0c1;
}
.media-section {
  background-color: #d5d2fe;
}
.interior-section {
  background-color: #bff0db;
}

.card-text {
  font-size: 24px;
  font-weight: 700;
}
.top-nav-icon {
  width: 40px;
  height: 40px;
}
.star-rating {
  width: 25px;
  height: 25px;
}
.most-popular {
  font-weight: 500;
}
.last-section {
  background-color: #f3ebe5;
}
.bell-icon {
  width: 35px;
  height: 35px;
}
.setting-icon {
  width: 40px;
  height: 40px;
}
.user-icon {
  width: 30px;
  height: 30px;
}
.down-key {
  width: 25px;
  height: 25px;
}
.year {
  border: 1px solid #ece2db;
}
.great-work {
  background-color: #f3ebe5;
}
.course {
  font-weight: 500;
}
.badge {
  color: #924600;
}
.scroll_section {
  width: 100%;
  /* height: 15%; */
  overflow: auto;
  max-height: 292px;
}
::-webkit-scrollbar {
  display: none;
}
