<main class=" d-flex  vh-100 p-3 ">
  <aside class="nav d-flex flex-column justify-content-between py-4 rounded-4">
    <div class="d-flex flex-column">
      <img class="nav-icon mb-4" src="../assets/pi-outline-svgrepo-com.svg" alt="">
      <img class="nav-icon" src="../assets/basket-shopping-svgrepo-com.svg" alt="">
    </div>
    <div class="nav-mid-section d-flex flex-column ">
      <img class="nav-icon" src="../assets/home-4-svgrepo-com.svg" alt="">
      <img class="nav-icon my-4" src="../assets/calendar-svgrepo-com.svg" alt="">
      <img class="nav-icon mb-4" src="../assets/book-open-svgrepo-com.svg" alt="">
      <img class="nav-icon" src="../assets/apps-large-svgrepo-com.svg" alt="">
    </div>
    <div class="d-flex flex-column">
      <img class="nav-icon mb-4" src="../assets/setting-5-svgrepo-com.svg" alt="">
      <img class="nav-icon" src="../assets/artist-avatar-marilyn-svgrepo-com.svg" alt="">
    </div>
  </aside>
  <section class="w-75 h-100 px-5 ">
    <div class="d-flex flex-column mt-5">
      <span class="heading">Invest in your </span>
      <span class="heading">education</span>
    </div>
    <div class="d-flex mt-5">
      <div class="main-section-icon1 d-flex align-items-center ps-2 pe-3 rounded-pill bg-dark">
        <span><img src="../assets/apps-large-svgrepo-com.svg" class="top-nav-icon me-3" alt=""></span>
        <span class="text-white fw-bold fs-5">All</span>
      </div>
      <div class="main-section-icon2 d-flex align-items-center ps-2 pe-3 rounded-pill mx-3">
        <span><img src="../assets/laptop-svgrepo-com.svg" class="top-nav-icon me-3" alt=""></span>
        <span class=" fw-bold fs-5">IT & Software</span>
      </div>
      <div class="main-section-icon3 d-flex align-items-center ps-2 pe-3 rounded-pill ">
        <span><img src="../assets/media-svgrepo-com.svg" class="top-nav-icon me-3" alt=""></span>
        <span class=" fw-bold fs-5">Media Training</span>
      </div>
      <div class="main-section-icon4 d-flex align-items-center ps-2 pe-3 rounded-pill mx-3">
        <span><img src="../assets/portfolio-svgrepo-com.svg" class="top-nav-icon me-3" alt=""></span>
        <span class=" fw-bold fs-5">Business</span>
      </div>
      <div class="main-section-icon5 d-flex align-items-center ps-2 pe-3 rounded-pill">
        <span><img src="../assets/cube-svgrepo-com.svg" class="top-nav-icon me-3" alt=""></span>
        <span class=" fw-bold fs-5">Interior Design</span>
      </div>
    </div>
    <div class="mt-4 fs-3">
      <span class="most-popular">Most popular</span>
      <div class="row mt-3">
        <div class="software-section col p-4 rounded-5 me-4 mb-4">
          <div class="d-flex justify-content-between align-items-center ">
            <div class=" d-flex align-items-center pe-3 rounded-pill ">
              <span><img src="../assets/laptop-svgrepo-com.svg" class="top-nav-icon me-3" alt=""></span>
              <span class=" fw-bold fs-5">IT & Software</span>
            </div>
            <div class="rating-section d-flex align-items-center my-auto px-2 pb-2 rounded-pill ">
              <span><img src="../assets/star-svgrepo-com.svg" class="star-rating me-2" alt=""></span>
              <span class=" fw-bold fs-5 mt-1">4.8</span>
            </div>
          </div>
          <div class="mt-2">
            <span class="card-text">CCNA 2020 200-125 Video</span><br>
            <span class="card-text">Boot Camp</span>
          </div>
          <div class="d-flex align-items-center justify-content-between mt-2">
            <span class="fw-bold fs-5">9,530 students</span>
            <span>
              <p-avatarGroup styleClass="">
                <p-avatar image="../assets/artist-avatar-marilyn-svgrepo-com.svg" size="large"
                  shape="circle"></p-avatar>
                <p-avatar image="../assets/avatar-svgrepo-com.svg" size="large" shape="circle"></p-avatar>
                <p-avatar image="../assets/avatar-portrait-svgrepo-com%20(1).svg" size="large"
                  shape="circle"></p-avatar>
                <p-avatar image="../assets/avatar-portrait-svgrepo-com.svg" size="large" shape="circle"></p-avatar>

              </p-avatarGroup>
            </span>
          </div>
        </div>
        <div class="business-section col p-4 rounded-5  mb-4">
          <div class="d-flex justify-content-between align-items-center ">
            <div class=" d-flex align-items-center pe-3 rounded-pill ">
              <span><img src="../assets/portfolio-svgrepo-com.svg" class="top-nav-icon me-3" alt=""></span>
              <span class=" fw-bold fs-5">Business</span>
            </div>
            <div class="rating-section d-flex align-items-center my-auto px-2 pb-2 rounded-pill ">
              <span><img src="../assets/star-svgrepo-com.svg" class="star-rating me-2" alt=""></span>
              <span class=" fw-bold fs-5 mt-1">4.9</span>
            </div>
          </div>
          <div class="mt-2">
            <span class="card-text">Powerful Business Writing</span><br>
            <span class="card-text">How to Write Concisely</span>
          </div>
          <div class="d-flex align-items-center justify-content-between mt-2">
            <span class="fw-bold fs-5">1,463 students</span>
            <span>
              <p-avatarGroup styleClass="">
                <p-avatar image="../assets/avatar-svgrepo-com.svg" size="large" shape="circle"></p-avatar>
                <p-avatar image="../assets/avatar-portrait-svgrepo-com%20(1).svg" size="large"
                  shape="circle"></p-avatar>
                <p-avatar image="../assets/avatar-portrait-svgrepo-com.svg" size="large" shape="circle"></p-avatar>
                <p-avatar label="+2" shape="circle" size="large"
                  [style]="{'background-color':'#9c27b0', 'color': '#ffffff'}"></p-avatar>
              </p-avatarGroup>
            </span>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="media-section col p-4 rounded-5 me-4 mb-4">
          <div class="d-flex justify-content-between align-items-center ">
            <div class=" d-flex align-items-center pe-3 rounded-pill ">
              <span><img src="../assets/media-svgrepo-com.svg" class="top-nav-icon me-3" alt=""></span>
              <span class=" fw-bold fs-5">Media Training</span>
            </div>
            <div class="rating-section d-flex align-items-center my-auto px-2 pb-2 rounded-pill ">
              <span><img src="../assets/star-svgrepo-com.svg" class="star-rating me-2" alt=""></span>
              <span class=" fw-bold fs-5 mt-1">4.9</span>
            </div>
          </div>
          <div class="mt-2">
            <span class="card-text">Certified Six Sigma Yellow</span><br>
            <span class="card-text">Belt Training</span>
          </div>
          <div class="d-flex align-items-center justify-content-between mt-2">
            <span class="fw-bold fs-5">6,726 students</span>
            <span>
              <p-avatarGroup styleClass="">
                <p-avatar image="../assets/avatar-portrait-svgrepo-com.svg" size="large" shape="circle"></p-avatar>
                <p-avatar image="../assets/artist-avatar-marilyn-svgrepo-com.svg" size="large"
                  shape="circle"></p-avatar>
                <p-avatar image="../assets/avatar-portrait-svgrepo-com.svg" size="large" shape="circle"></p-avatar>
                <p-avatar label="+2" shape="circle" size="large"
                  [style]="{'background-color':'#9c27b0', 'color': '#ffffff'}"></p-avatar>
              </p-avatarGroup>
            </span>
          </div>
        </div>
        <div class="interior-section col p-4 rounded-5 mb-4">
          <div class="d-flex justify-content-between align-items-center ">
            <div class=" d-flex align-items-center pe-3 rounded-pill ">
              <span><img src="../assets/cube-svgrepo-com.svg" class="top-nav-icon me-3" alt=""></span>
              <span class=" fw-bold fs-5">Interior </span>
            </div>
            <div class="d-flex ">

              <div class="rating-section d-flex align-items-center my-auto me-2 px-2 pb-2 rounded-pill ">
                <span><img src="../assets/star-svgrepo-com.svg" class="star-rating me-2" alt=""></span>
                <span class=" fw-bold fs-5 mt-1">5.0</span>
              </div>
              <div class="rating-section d-flex align-items-center my-auto px-2 pb-2 rounded-pill ">
                <span><img src="../assets/medal-reward-svgrepo-com.svg" class="star-rating " alt=""></span>
                <span class="badge fw-bold fs-5 mt-1">Top 10</span>
              </div>
            </div>
          </div>
          <div class="mt-2">
            <span class="card-text">How to Design a Room in 10 </span><br>
            <span class="card-text">Easy Steps</span>
          </div>
          <div class=" d-flex justify-content-between align-items-center mt-2">
            <span class="fw-bold fs-5">8,735 students</span>
            <span><p-avatar image="../assets/artist-avatar-marilyn-svgrepo-com.svg" size="large"></p-avatar></span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <aside class="last-section rounded-5 w-25 h-100 p-4">
    <img class="bell-icon float-start" src="../assets/bell-svgrepo-com.svg" alt="">
    <img class="setting-icon float-end" src="../assets/setting-1-svgrepo-com.svg" alt="">
    <div class="mt-4 text-center">
      <img src="../assets/artist-avatar-marilyn-svgrepo-com.svg" alt="">
      <h3 class="mt-3">Annette Black</h3>
    </div>
    <div class="d-flex justify-content-between w-100 bg-white p-3 rounded-pill mt-5">

      <div class="d-flex align-items-center ">
        <img src="../assets/user-circle-svgrepo-com.svg" class="user-icon me-2" alt="">
        <span class="fs-5">274&nbsp;Friends</span>
      </div>
      <div class="d-flex align-items-center">
        <p-avatarGroup styleClass="">
          <p-avatar image="../assets/avatar-svgrepo-com.svg" size="small" shape="circle"></p-avatar>
          <p-avatar image="../assets/avatar-portrait-svgrepo-com.svg" size="small" shape="circle"></p-avatar>
          <p-avatar label="+2" shape="circle" size="small"
            [style]="{'background-color':'#9c27b0', 'color': '#ffffff'}"></p-avatar>
        </p-avatarGroup>
        <span class="m2-3 "><img src="../assets/chevron-right-svgrepo-com.svg" class="down-key ms-2" alt=""></span>
      </div>
    </div>
    <div class="fs-5 mb-4 bg-white w-100 bg-white px-3 py-3  mt-3 rounded-5">
      <div class="d-flex align-items-center justify-content-between  ">
        <span class="fw-bold">Activity</span>
        <span class="year rounded-pill px-3 py-1 fw-bold">year <img src="../assets/down-chevron-svgrepo-com.svg"
            class="down-key" alt=""></span>
      </div>
      <div class="d-flex align-items-center mb-3">
        <span class="fs-4 fw-bold me-3">3.5h</span>
        <span class="great-work px-2 py-1 fs-5 mb-1 rounded-pill fw-bold"><img src="../assets/thumb-up-svgrepo-com.svg"
            class="user-icon me-1 " alt="">Great result!</span>
        <div>
        </div>
      </div>
      <img src="../assets/barchart.png" alt="">
    </div>
    <div>
      <span class="fs-5 course">My courses</span>
      <div class="scroll_section">

        <div class="software-section col p-4 rounded-5 w-100 me-4 my-3">
          <div class="d-flex justify-content-between align-items-center ">
            <div class=" d-flex align-items-center pe-3 rounded-pill ">
              <span><img src="../assets/laptop-svgrepo-com.svg" class="top-nav-icon me-3" alt=""></span>
              <span class=" fw-bold fs-5">IT & Software</span>
            </div>
            <div class="rating-section d-flex align-items-center   px-2 pb-2 rounded-pill ">
              <span><img src="../assets/star-svgrepo-com.svg" class="star-rating me-2 mt-1" alt=""></span>
              <span class=" fw-bold fs-5 my-auto">4.8</span>
            </div>
          </div>
          <div class="mt-2">
            <span class="card-text">Flutter Masterclass (Dart </span><br>
            <span class="card-text">APIs, Firebase & More)</span>
          </div>
          <div class="d-flex align-items-center justify-content-between mt-2">
            <span class="fw-bold fs-5">9,530 students</span>
            <span>
              <p-avatarGroup styleClass="">
                <p-avatar image="../assets/artist-avatar-marilyn-svgrepo-com.svg" size="large"
                  shape="circle"></p-avatar>
                <p-avatar image="../assets/avatar-svgrepo-com.svg" size="large" shape="circle"></p-avatar>
                <p-avatar image="../assets/avatar-portrait-svgrepo-com%20(1).svg" size="large"
                  shape="circle"></p-avatar>
                <p-avatar image="../assets/avatar-portrait-svgrepo-com.svg" size="large" shape="circle"></p-avatar>
              </p-avatarGroup>
            </span>
          </div>
        </div>
        <div class="business-section col p-4 rounded-5  mb-4">
          <div class="d-flex justify-content-between align-items-center ">
            <div class=" d-flex align-items-center pe-3 rounded-pill ">
              <span><img src="../assets/portfolio-svgrepo-com.svg" class="top-nav-icon me-3" alt=""></span>
              <span class=" fw-bold fs-5">Business</span>
            </div>
            <div class="rating-section d-flex align-items-center my-auto px-2 pb-2 rounded-pill ">
              <span><img src="../assets/star-svgrepo-com.svg" class="star-rating me-2" alt=""></span>
              <span class=" fw-bold fs-5 mt-1">4.9</span>
            </div>
          </div>
          <div class="mt-2">
            <span class="card-text">Powerful Business Writing</span><br>
            <span class="card-text">How to Write Concisely</span>
          </div>
          <div class="d-flex align-items-center justify-content-between mt-2">
            <span class="fw-bold fs-5">1,463 students</span>
            <span>
              <p-avatarGroup styleClass="">
                <p-avatar image="../assets/avatar-svgrepo-com.svg" size="large" shape="circle"></p-avatar>
                <p-avatar image="../assets/avatar-portrait-svgrepo-com%20(1).svg" size="large"
                  shape="circle"></p-avatar>
                <p-avatar image="../assets/avatar-portrait-svgrepo-com.svg" size="large" shape="circle"></p-avatar>
                <p-avatar label="+2" shape="circle" size="large"
                  [style]="{'background-color':'#9c27b0', 'color': '#ffffff'}"></p-avatar>
              </p-avatarGroup>
            </span>
          </div>
        </div>
        <div class="media-section col p-4 w-100 rounded-5 me-4 mb-4">
          <div class="d-flex justify-content-between align-items-center ">
            <div class=" d-flex align-items-center pe-3 rounded-pill ">
              <span><img src="../assets/media-svgrepo-com.svg" class="top-nav-icon me-3" alt=""></span>
              <span class=" fw-bold fs-5">Media Training</span>
            </div>
            <div class="rating-section d-flex align-items-center my-auto px-2 pb-2 rounded-pill ">
              <span><img src="../assets/star-svgrepo-com.svg" class="star-rating me-2" alt=""></span>
              <span class=" fw-bold fs-5 mt-1">4.9</span>
            </div>
          </div>
          <div class="mt-2">
            <span class="card-text">Certified Six Sigma Yellow</span><br>
            <span class="card-text">Belt Training</span>
          </div>
          <div class="d-flex align-items-center justify-content-between mt-2">
            <span class="fw-bold fs-5">6,726 students</span>
            <span>
              <p-avatarGroup styleClass="">
                <p-avatar image="../assets/avatar-portrait-svgrepo-com.svg" size="large" shape="circle"></p-avatar>
                <p-avatar image="../assets/artist-avatar-marilyn-svgrepo-com.svg" size="large"
                  shape="circle"></p-avatar>
                <p-avatar image="../assets/avatar-portrait-svgrepo-com.svg" size="large" shape="circle"></p-avatar>
                <p-avatar label="+2" shape="circle" size="large"
                  [style]="{'background-color':'#9c27b0', 'color': '#ffffff'}"></p-avatar>
              </p-avatarGroup>
            </span>
          </div>
        </div>
        <div class="interior-section col p-4 rounded-5 mb-4">
          <div class="d-flex justify-content-between align-items-center ">
            <div class=" d-flex align-items-center pe-3 rounded-pill ">
              <span><img src="../assets/cube-svgrepo-com.svg" class="top-nav-icon me-3" alt=""></span>
              <span class=" fw-bold fs-5">Interior </span>
            </div>
            <div class="d-flex ">

              <div class="rating-section d-flex align-items-center my-auto me-2 px-2 pb-2 rounded-pill ">
                <span><img src="../assets/star-svgrepo-com.svg" class="star-rating me-2" alt=""></span>
                <span class=" fw-bold fs-5 mt-1">5.0</span>
              </div>
              <div class="rating-section d-flex align-items-center my-auto px-2 pb-2 rounded-pill ">
                <span><img src="../assets/medal-reward-svgrepo-com.svg" class="star-rating " alt=""></span>
                <span class="badge fw-bold fs-5 mt-1">Top 10</span>
              </div>
            </div>
          </div>
          <div class="mt-2">
            <span class="card-text">How to Design a Room in 10 </span><br>
            <span class="card-text">Easy Steps</span>
          </div>
          <div class=" d-flex justify-content-between align-items-center mt-2">
            <span class="fw-bold fs-5">8,735 students</span>
            <span><p-avatar image="../assets/artist-avatar-marilyn-svgrepo-com.svg" size="large"></p-avatar></span>
          </div>
        </div>
      </div>
    </div>
  </aside>
</main>